/* 颜色变量 */
$pin-color-primary: #ffc107;
$pin-color-foreground: #212121;

$pin-color-accent: #464646;
$pin-color-accent-foreground: #ffffff;

$pin-color-light: #fafafa;
$pin-color-light-foreground: #212121;

$pin-shadow: 0upx 0upx 20upx rgba(0,0,0,0.1);
$pin-border-radius: 20upx;
