/* 颜色变量 */
$pin-color-primary: #ffc107;
$pin-color-foreground: #212121;

$pin-color-accent: #464646;
$pin-color-accent-foreground: #ffffff;

$pin-color-light: #fafafa;
$pin-color-light-foreground: #212121;

$pin-shadow: 0upx 0upx 20upx rgba(0,0,0,0.1);
$pin-border-radius: 20upx;

page {
	background-color: $pin-color-light;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v47/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.pin-icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.pin-card {
	border-radius: $pin-border-radius;
	box-shadow: $pin-shadow;
	margin-left: 20upx;
	margin-right: 20upx;
	margin-top: 20upx;
	background-color: #ffffff;
}
.pin-card-title {
	font-size: 36upx;
	margin-top: 10upx;
	margin-bottom: 10upx;
	padding: 20upx;
}

.pin-button{
	display: flex;
	justify-content: center;
	align-items: center;
	color: $pin-color-foreground;
	background-color: $pin-color-primary;
	border-radius: 20upx;
	box-shadow: 0upx 0upx 8upx rgba(0,0,0,0.2);
	font-size: 30upx;
	padding: 15upx 40upx;
	transition: all 0.3s;
}

.pin-button:hover {
	transform: scale(1.05)
}

.pin-button:active {
	transform: scale(0.9)
}

.long-width {
	width: 80%
}

.pin-button.lg {
	font-size: 40upx;
	padding: 20upx 60upx;
}

.pin-button.sm {
	font-size: 20upx;
	padding: 10upx 30upx;
}

.pin-bg-white {
	background-color: #ffffff;
	color: $pin-color-foreground
}

.pin-primary {
	color: $pin-color-primary;
}

.pin-bg-primary {
	background-color: $pin-color-primary;
	color: $pin-color-foreground
}

.pin-accent {
	color: $pin-color-accent;
}

.pin-bg-accent {
	background-color: $pin-color-accent;
	color: $pin-color-accent-foreground
}

.pin-shadow {
	box-shadow: $pin-shadow;
}

.pin-radius {
	border-radius: $pin-border-radius;
}

.pin-margin {
	margin: 20upx;
}

.pin-padding {
	padding: 20upx;
}

.pin-hoverable {
	transition: all 0.2s;
}

.pin-hoverable:hover{
	box-shadow: 0upx 16upx rgba(0,0,0,0.3);
	transform: scale(1.1)
}

.pin-hoverable:active{
	box-shadow: 0upx 0upx 4upx rgba(0,0,0,0.1);
	transform: scale(0.9)
}

.pin-text-right {
	text-align: right
}

.pin-text-center {
	text-align: center
}

.pin-flex {
	display: flex;
}
.pin-flex-sub-50 {
	flex-basis: 50%;
}

.footer {
	width: 92%;
	padding: 0 4%;
	background-color: #ffffff;
	box-shadow: $pin-shadow;
	height: 100upx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 28upx;
	position: fixed;
	bottom: 0upx;
	z-index: 5;
	
	.settlement {
		width: 60%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
		.sum {
			width: 50%;
			font-size: 28upx;
			margin-right: 10upx;
			display: flex;
			justify-content: flex-end;
			.money {
				font-weight: 600;
			}
		}
		
		.btn {
			padding: 0 30upx;
			height: 50upx;
			background-color: #f06c7a;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 30upx;
		}
	}
	
	.delete-button {
		background-color: $pin-color-accent;
		color: $pin-color-accent-foreground;
		padding: 0 30upx;
		height: 50upx;
		border-radius: $pin-border-radius;
		box-shadow: $pin-shadow;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s;
	}
}


.pin-text-xs {
  font-size: 20rpx;
}

.pin-text-sm {
  font-size: 24rpx;
}

.pin-text-md {
  font-size: 28rpx;
}

.pin-text-lg {
  font-size: 32rpx;
}

.pin-text-xl {
  font-size: 36rpx;
}

.pin-text-xxl {
  font-size: 44rpx;
}

.pin-text-xxxl {
  font-size: 56rpx;
}

.pin-text-sl {
  font-size: 80rpx;
}

.pin-text-xsl {
  font-size: 120rpx;
}

.pin-text-Abc {
  text-transform: Capitalize;
}

.pin-text-ABC {
  text-transform: Uppercase;
}

.pin-text-abc {
  text-transform: Lowercase;
}

.pin-text-price::before {
  content: "¥";
  font-size: 80%;
  margin-right: 4rpx;
}

.pin-text-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pin-text-bold {
  font-weight: bold;
}

.pin-text-center {
  text-align: center;
}

.pin-text-content {
  line-height: 1.6;
}

.pin-text-left {
  text-align: left;
}

.pin-text-right {
  text-align: right;
}

.pin-list-item {
	width: 86%;
	padding: 20upx 3%;
	margin: 30upx auto 20upx auto;
	box-shadow: 0upx 5upx 20upx rgba(0, 0, 0, 0.1);
	border-radius: 20upx;
	display: flex;
	
	.list-left {
		width: 80upx;
		height: 80upx;
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 60upx;
		color: $pin-color-accent;
		image {
			width: 60upx;
			height: 60upx;
		}
	}
	
	.list-right {
		width: calc(100% - 80upx);
		
		.list-header {
			width: 100%;
			display: flex;
			font-size: 32upx;
			.list-title {
				flex-basis: 70%;
			}
			.list-sub-title {
				flex-basis: 30%;
				text-align: right
			}
		}
		
		.list-detail {
			width: 100%;
			font-size: 26upx;
			color: #999;
		}
		
	}
}